<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lmu.warungdana">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.hardware.camera" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />


    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".DialogUpdateVesion"
            android:theme="@style/UpdateDialog"/>
        <activity
            android:name=".TentangApp"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/file_paths" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.lmu.warungdana.LoginActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".DetailLeadActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddLeadLogActivity"
            android:label="@string/title_activity_add_log"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.lmu.warungdana.AddTargetLogActivity"
            android:label="@string/title_activity_add_log"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddVisumActivity"
            android:label="@string/title_activity_add_log"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddLeadVisumActivity"
            android:label="@string/title_activity_add_log"
            android:theme="@style/AppTheme" />
        <activity android:name="com.lmu.warungdana.AddLeadActivity" />
        <activity
            android:name=".DetailJadwalActivity"
            android:label="Canvassing"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DetailContactActivity"
            android:label="@string/title_activity_detail_contact"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DetailDealActivity"
            android:label="@string/title_activity_detail_deal"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.lmu.warungdana.DetailTargetActivity"
            android:label="@string/title_activity_detail_target"
            android:theme="@style/AppTheme" />
        <activity android:name="com.lmu.warungdana.AddContactActivity" />
        <activity android:name=".AddOrderActivity" />
        <activity android:name=".AddAdditionalLeadActivity" />
        <activity android:name="com.lmu.warungdana.AddJadwalReportActivity" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDlSZf-YTqh_rBLyzjzB6VanBVm4xk6VvI" />

        <activity
            android:name="com.lmu.warungdana.ContactOrderActivity"
            android:label="@string/title_activity_contact_order"
            android:theme="@style/AppTheme" />
        <activity android:name="com.lmu.warungdana.PrintActivity" />
        <activity android:name="com.lmu.warungdana.RekapActivity" />

        <receiver android:name="com.lmu.warungdana.AlarmManager.BootCompletedIntentReceiver" />

        <activity android:name=".UbahPassword" />
        <activity android:name=".DocumentActivity" />
        <activity android:name=".PreviewImageActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c75e934525c142f72dbfcbb4dccbf75744c77b13" />
    </application>

</manifest>